<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>FlyRest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="FlyRest Travel Website" />
    <meta name="keywords" content="FlyRest Travel Website" />
    <meta name="author" content="FlyRest Travel Website" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico" />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,300"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css" />
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css" />
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <!-- Superfish -->
    <link rel="stylesheet" href="css/superfish.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css" />
    <!-- Date Picker -->
    <link rel="stylesheet" href="css/bootstrap-datepicker.min.css" />
    <!-- CS Select -->
    <link rel="stylesheet" href="css/cs-select.css" />
    <link rel="stylesheet" href="css/cs-skin-border.css" />

    <link rel="stylesheet" href="css/style.css" />

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="fh5co-wrapper">
      <div id="fh5co-page">
        <header id="fh5co-header-section" class="sticky-banner">
          <div class="container">
            <div class="nav-header">
              <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"
                ><i></i
              ></a>
              <h1 id="fh5co-logo">
                <a href="/"><i class="icon-airplane"></i>FlyRest</a>
              </h1>
              <!-- START #fh5co-menu-wrap -->
              <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/login">Flight</a></li>
                  <li><a href="/login">Hotel</a></li>
                  <li><a href="/login">Flight + Hotel</a></li>
                  <li><a href="/login">Deals</a></li>
                  <li><a href="/login">Flight Status</a></li>
                  <li><a href="/login">Mileage</a></li>
                  <li><a href="/login">Feedback</a></li>
                  <li><a href="/signup">Sign Up</a></li>
                  <li><a href="/login">Log In</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>

        <!-- end:header-top -->

        <div class="fh5co-hero">
          <div class="fh5co-overlay"></div>
          <div
            class="fh5co-cover"
            data-stellar-background-ratio="0.5"
            style="background-image: url(images/cover_bg_1.jpg)"
          >
          <div id="fh5co-contact" class="fh5co-section-gray">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                  <h3 style="color: black;">Welcome to FlyRest!</h3>
                </div>
              </div>
              </form>
            </div>
          </div>
          <br>
          <br>

          <form action="/index1" method="POST">
            <div class="desc">
              <div class="container">
                <div class="row">
                    <!-- <div class="tabulation animate-box"> -->
                      <!-- Nav tabs -->
                      <br>
                      

                      <ul class="nav nav-tabs" role="tablist">
                        <div class="col-sm-12 col-md-12 text-center">
                        <li role="presentation" class="active">
                          <a
                            href="login"
                            aria-controls="flights"
                            >Book a Flight</a
                          >
                        </li>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                        <div class="col-sm-12 col-md-12 text-center">
                        <li role="presentation" class="active">
                          <a
                            href="login"
                            aria-controls="hotels"
                            >Book a Hotel</a
                          >
                        </li>
                      </div>

                      <br>
                      <br>
                      <br>
                      <br>
                      <br>

                      <div class="col-sm-12 col-md-12 text-center">
                      <li role="presentation" class="active">
                        <a
                          href="login"
                          aria-controls="hotels"
                          >Book Flight + Hotel</a
                        >
                      </li>
                    </div>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>

        <div id="fh5co-destination">
          <div class="tour-fluid">
            <div class="row">
              <div class="col-md-12">
                <ul id="fh5co-destination-list" class="animate-box">
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-1.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Los Angeles</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-2.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Hongkong</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-3.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Italy</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-4.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Philippines</h2>
                      </div>
                    </a>
                  </li>

                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-5.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Japan</h2>
                      </div>
                    </a>
                  </li>
                  <li class="one-half text-center">
                    <div class="title-bg">
                      <div class="case-studies-summary">
                        <h2>Most Popular Destinations</h2>
                        <span><a href="#">View All Destinations</a></span>
                      </div>
                    </div>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-6.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Paris</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-7.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Singapore</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-8.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Madagascar</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-9.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Egypt</h2>
                      </div>
                    </a>
                  </li>
                  <li
                    class="one-forth text-center"
                    style="background-image: url(images/place-10.jpg)"
                  >
                    <a href="#">
                      <div class="case-studies-summary">
                        <h2>Indonesia</h2>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

		        <!-- fh5co-blog-section -->
            <div
            id="fh5co-testimonial"
            style="background-image: url(images/img_bg_1.jpg)"
            >
            <div class="container">
              <div class="row animate-box">
              <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Happy Travelers</h2>
              </div>
              </div>
              <div class="row">
              <div class="col-md-4">
                <div class="box-testimony animate-box">
                <blockquote>
                  <span class="quote"
                  ><span><i class="icon-quotes-right"></i></span
                  ></span>
                  <p>
                  &ldquo;Far far away, behind the word mountains, far from
                  the countries Vokalia and Consonantia, there live the
                  blind texts. Separated they live in Bookmarksgrove right
                  at the coast of the Semantics, a large language
                  ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="author">
                  Sam, Arizona
                  <a href="" target="_blank"></a>
                  <span class="subtext"></span>
                </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box-testimony animate-box">
                <blockquote>
                  <span class="quote"
                  ><span><i class="icon-quotes-right"></i></span
                  ></span>
                  <p>
                  &ldquo;Far far away, behind the word mountains, far from
                  the countries Vokalia and Consonantia, there live the
                  blind texts.&rdquo;
                  </p>
                </blockquote>
                <p class="author">
                  Mike, New Mexico
                  <a href="" target="_blank"></a>
                  <span class="subtext"></span>
                </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box-testimony animate-box">
                <blockquote>
                  <span class="quote"
                  ><span><i class="icon-quotes-right"></i></span
                  ></span>
                  <p>
                  &ldquo;Far far away, behind the word mountains, far from
                  the countries Vokalia and Consonantia, there live the
                  blind texts. Separated they live in Bookmarksgrove right
                  at the coast of the Semantics, a large language
                  ocean.&rdquo;
                  </p>
                </blockquote>
                <p class="author">
                  Walter, Texas <a href="#"></a>
                  <span class="subtext"></span>
                </p>
                </div>
              </div>
              </div>
            </div>
            </div>
<%- include('footer'); -%>
